.Trending{
    height: 100vh;
}

.vertical-fade{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #141414 10%, transparent 90%);
}

.horizontal-fade{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #141414 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-bottom: 150px;
    padding-top: 70px;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.info .score, .date, .seasons{
    display: inline-block;
    margin-right: 15px;
}

.info .score{
    color: #46D369;
}

.overview{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300px;
    margin-bottom: 10px;
    color: #807e7e;
    max-width: 40%;
}

.buttom{
    margin-top: 10px;
}

.buttom .playBtn, .addBtn{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2;
}

.buttom .playBtn{
    background: #fff;
    color: #000;
}

.buttom .addBtn{
    background-color: #333;
    color: #fff;
}

.buttom .addBtn:hover, .playBtn:hover{
    opacity: 0.7;
}

.genres{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #999;
}

@media(max-width: 720px){
    .Trending{
        height: 80vh;
    }

    .title{
        font-size: 30px;
    }

    .info{
        font-size: 15px;
    }

    .overview{
        max-width: 100%;
        margin-right: 30px;
    }

    .buttom .playBtn, .addBtn{
        font-size: 16px;
    }
    
    .genres{
        font-size: 15px;
    }
}